{% extends 'main/add_item.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
        <h1>Тип товара</h1>

<button onclick="document.location = '{% url 'add_rim' %}';">Оправы</button>
        <button onclick="document.location = '{% url 'add_lenses' %}';">Линзы</button>
        <button onclick="document.location = '{% url 'add_accessories' %}';">Аксессуары</button>
    <form method="post">
    {% csrf_token %}
    <br/>
    <input type="text" placeholder="Название..." name="name" id="name">
    <input type="text" placeholder="Производитель..." name="manufact" id="manufact">
    <input type="text" placeholder="Цвет..." name="color_name" id="color_name">
    <input type="number" placeholder="Цена..." name="price" id="price">
    <input type="number" placeholder="Диоптрии..." name="diopter" id="diopter">
    <button type="submit" name="Add_item" value="Add_item">Добавить</button>
  </form>
<br>
<table border="2">
    <caption>Таблица линз</caption>
    <tr>
        <th>id &nbsp;</th>
        <th>Название &nbsp;</th>
        <th>Диоптрии &nbsp;</th>
        <th>Производитель &nbsp;</th>
        <th>Цвет &nbsp;</th>
        <th>Цена &nbsp;</th>
        <th>Количество &nbsp;</th>
    </tr>
    {% for el in item %}
            <tr><td>{{ el.id_lenses }} &nbsp;
            </td><td>{{ el.name_lenses }} &nbsp;
            </td><td>{{ el.diopter }} &nbsp;
            </td><td>{{ el.manufact }} &nbsp;
            </td><td>{{ el.id_color.name_color}} &nbsp;
            </td><td>{{ el.price }} &nbsp;
            </td><td>{{ el.quantity }} &nbsp;</td><td>
            <button onclick="document.location = '{% url 'update_quantity_lenses' el.id_lenses %}';">Добавить количество</button></td><td>
            <button onclick="document.location = '{% url 'delete_order' el.id_lenses %}';">Удалить</button>
            </td></tr>
    {% endfor %}
</table>
{% endblock %}