{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Тип товара</h1>
        <button onclick="document.location = '{% url 'add_rim' %}';" class="btn btn-outline-primary">Оправы</button>
        <button onclick="document.location = '{% url 'add_lenses' %}';" class="btn btn-outline-primary">Линзы</button>
        <button onclick="document.location = '{% url 'add_accessories' %}';" class="btn btn-outline-primary">Аксессуары</button>

<br>
    <br>

    </div>

{% endblock %}