{% extends 'main/add_item.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <form method="post">
    {% csrf_token %}
    <br/>
    <input type="text" placeholder="Название..." name="name" id="name">
    <input type="text" placeholder="Производитель..." name="manufact" id="manufact">
    <input type="text" placeholder="Тип..." name="type" id="type">
    <input type="number" placeholder="Цена..." name="price" id="price">
    <button type="submit" name="Add_item" value="Add_item">Добавить</button>
    </form>
<br>
<table border="2">
    <caption>Таблица аксессуаров</caption>
    <tr>
        <th>id &nbsp;</th>
        <th>Название &nbsp;</th>
        <th>Тип &nbsp;</th>
        <th>Производитель &nbsp;</th>
        <th>Цена &nbsp;</th>
        <th>Количество &nbsp;</th>
    </tr>
    {% for el in item %}
            <tr><td>{{ el.id_accessories }} &nbsp;
            </td><td>{{ el.name_accessories }} &nbsp;
            </td><td>{{ el.type }} &nbsp;
            </td><td>{{ el.manufact }}  &nbsp;
            </td><td>{{ el.price }}&nbsp;
            </td><td>{{ el.quantity }} &nbsp; </td><td>
            <button onclick="document.location = '{% url 'update_quantity_accessories' el.id_accessories %}';">Добавить количество</button></td><td>
            <button onclick="document.location = '{% url 'delete_order' el.id_accessories %}';">Удалить</button>
            </td></tr>

    {% endfor %}

</table>
{% endblock %}