{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  <form method="post">
      <h1>Добавить рецепт</h1>
      {% csrf_token %}
      <br/>
      <input type="number" placeholder="Id врача..." name="id_employee" id="id_employee">
      <input type="number" placeholder="Id клиента..." name="id_customer" id="id_customer">
      <input type="number" placeholder="Левый глаз..." name="right_diopter" id="right_diopter">
      <input type="number" placeholder="Правый глаз..." name="left_diopter" id="left_diopter">
      <input type="number" placeholder="Дистанция..." name="distance" id="distance">
      <input type="date" placeholder="Дата..." name="date" id="date">
      <button type="submit" name="Add_item" value="Add_item">Добавить</button>
  </form>


{% endblock %}