{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  <form method="post">
      <h1>Рецепты</h1>
      {% csrf_token %}
      <br/>
      <div class="input-group mb-3">
      <input type="number" placeholder="Id врача..." name="id_employee" id="id_employee" value="{{ user.profiledoctor.id_employee.id_employee }}"  class="form-control">
      <input type="number" placeholder="Id клиента..." name="id_customer" id="id_customer" value="{{ my_id }}" class="form-control">
      <input type="number" step="any" placeholder="Левый глаз..." name="right_diopter" id="right_diopter" class="form-control">
      <input type="number" step="any" placeholder="Правый глаз..." name="left_diopter" id="left_diopter" class="form-control">
      <input type="number" placeholder="Дистанция..." name="distance" id="distance" class="form-control">
      <input type="date" placeholder="Дата..." name="date" id="date" class="form-control">
      <button type="submit" name="Add_item" value="Add_item" class="btn btn-primary">Добавить</button>
          </div>
  </form>
<br>
<table class="table table-bordered table-hover table-striped">
    <caption>Таблица рецептов</caption>
    <tr>

        <th>Id рецепта &nbsp;</th>
        <th>Имя работника &nbsp;</th>
        <th>Фамилия работника &nbsp;</th>
        <th>Имя клиента &nbsp;</th>
        <th>Фамилия клиента &nbsp;</th>
        <th>Левый глаз &nbsp;</th>
        <th>Правый глаз &nbsp;</th>
        <th>Дистанция &nbsp;</th>
        <th>Дата &nbsp;</th>
        <th>Удалить</th>
    </tr>
    {% for el in prescription %}
    <tr><td>{{ el.id_prescribtion }} &nbsp;
    </td><td>{{ el.employee_name }} &nbsp;
    </td><td>{{ el.employee_surname }} &nbsp;
    </td><td>{{ el.customer_name }} &nbsp;
    </td><td>{{ el.customer_surname }} &nbsp;
    </td><td>{{ el.right_diopter }} &nbsp;
    </td><td>{{ el.left_diopter }} &nbsp;
    </td><td>{{ el.distance }} &nbsp;
    </td><td>{{ el.date }} &nbsp;</td><td>
    <button onclick="document.location = '{% url 'delete_prescription' el.id_prescribtion %}';" class="btn btn-danger">Удалить</button>
    </tr></td>
    {% endfor %}
</table>


{% endblock %}