{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="post">
      <h1>Добавить клиента</h1>
      {% csrf_token %}
      <br/>
      <input type="text" placeholder="Имя..." name="name" id="name">
      <input type="text" placeholder="Фамилия..." name="surname" id="surname">
      <input type="text" placeholder="Телефон..." name="phone_number" id="phone_number">
      <input type="text" placeholder="Электронная почта..." name="email" id="email">
      <button type="submit" name="Add_item" value="Add_item">Добавить</button>
</form>
<br>
<table border="1">
    <caption>Таблица клиентов</caption>
    <tr>
        <th>id &nbsp;</th>
        <th>Имя &nbsp;</th>
        <th>Фамилия &nbsp;</th>
        <th>Телефон &nbsp;</th>
        <th>Элетронная почта &nbsp;</th>
    </tr>
    {% for el in customers %}
            <tr><td>{{ el.id_customer }} &nbsp; </td><td>{{ el.name }} &nbsp; </td><td>{{ el.surname }} &nbsp; </td><td>{{ el.phone_number }} &nbsp; </td><td>{{ el.email }}</td><td>
            <button onclick="document.location = '{% url 'last_prescription' el.id_customer %}';">Зрение</button></td><td>
            <button onclick="document.location = '{% url 'delete_order' el.id_customer %}';">Удалить</button>
            </td></tr>
    {% endfor %}
</table>
{% endblock %}