{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<table border="2">
    <h1>Последние 5 рецептов</h1>

    <caption>Таблица рецептов</caption>
    <tr>

        <th>Id рецепта &nbsp;</th>
        <th>Имя работника &nbsp;</th>
        <th>Фамилия работника &nbsp;</th>
        <th>Имя клиента &nbsp;</th>
        <th>Фамилия клиента &nbsp;</th>
        <th>Левый глаз &nbsp;</th>
        <th>Правый глаз &nbsp;</th>
        <th>Дистанция &nbsp;</th>
        <th>Дата &nbsp;</th>
        <th>  &nbsp;</th>
    </tr>
    {% for el in item %}
    <tr><td>{{ el.id_prescribtion }} &nbsp;
    </td><td>{{ el.employee_name }} &nbsp;
    </td><td>{{ el.employee_surname }} &nbsp;
    </td><td>{{ el.customer_name }} &nbsp;
    </td><td>{{ el.customer_surname }} &nbsp;
    </td><td>{{ el.right_diopter }} &nbsp;
    </td><td>{{ el.left_diopter }} &nbsp;
    </td><td>{{ el.distance }} &nbsp;
    </td><td>{{ el.date }} &nbsp;</td><td>
    <button onclick="document.location = '{% url 'delete_order' el.id_prescribtion %}';">Удалить</button>
    </tr></td>
    {% endfor %}
</table>

{% endblock %}