{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  <form method="post">
      <h1>Добавить заказ</h1>
      {% csrf_token %}
      <br/>
      <input type="number" placeholder="Id врача..." name="id_employee" id="id_employee">
      <input type="number" placeholder="Id рецепта..." name="id_prescription" id="id_prescription">
      <input type="date" placeholder="Дата принятия..." name="date_acceptance" id="date_acceptance">
      <input type="date" placeholder="Дата сдачи..." name="date_assignment" id="date_assignment">
      <input type="number" placeholder="Статус..." name="id_status" id="id_status">
      <input type="number" placeholder="Итоговая цена..." name="end_price" id="end_price">
      <button type="submit" name="Add_item" value="Add_item">Добавить</button>
  </form>
<br>
<table border="2">
    <caption>Таблица заказов</caption>
    <tr>
        <th>Id заказа &nbsp;</th>
        <th>Имя работника &nbsp;</th>
        <th>Фамилия работника &nbsp;</th>
        <th>Имя клиента &nbsp;</th>
        <th>Фамилия клиента &nbsp;</th>
        <th>Дата принятия &nbsp;</th>
        <th>Дата сдачи &nbsp;</th>
        <th>Статус &nbsp;</th>
        <th>Итоговая цена &nbsp;</th>
    </tr>
    {% for el in order %}
            <tr><td>{{ el.id_order }} &nbsp;
            </td><td>{{ el.employee_name }} &nbsp;
            </td><td>{{ el.employee_surname }} &nbsp;
            </td><td>{{ el.customer_name }} &nbsp;
            </td><td>{{ el.customer_surname }} &nbsp;
            </td><td>{{ el.date_acceptance }} &nbsp;
            </td><td>{{ el.date_assignment }} &nbsp;
            </td><td>{{ el.id_status.meaning_status }} &nbsp;
            </td><td>{{ el.end_price }}</td><td>
            <button onclick="document.location = '{% url 'order_list_by_id_order' el.id_order %}';">Товары</button>
            </td></tr>
    {% endfor %}
</table>

{% endblock %}