{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


  <form method="post">
      <h1>Добавить товары в заказ</h1>
      {% csrf_token %}
      <br/>
      <input type="text" placeholder="Название товара..." name="name_item" id="name_item">
      <input type="text" placeholder="Производитель..." name="manufact_item" id="manufact_item">
      <input type="number" placeholder="Количество..." name="quantity" id="quantity">
      <button type="submit" name="Add_item" value="Add_item">Добавить</button>
  </form>
<br>
<table border="2">
    <caption>Таблица товаров заказов</caption>
    <tr>
        <th>Id товара заказа &nbsp;</th>
        <th>Id заказа &nbsp;</th>
        <th>Имя &nbsp;</th>
        <th>Фамилия &nbsp;</th>
        <th>Id товара &nbsp;</th>
        <th>Название &nbsp;</th>
        <th>Производитель &nbsp;</th>
        <th>Количество &nbsp;</th>
    </tr>
    {% for el in item %}
            <tr><td>{{ el.id_order_list }} &nbsp; </td><td>{{ el.id_order.id_order }} &nbsp; </td><td>{{ el.name  }} &nbsp; </td><td>{{ el.surname }} &nbsp; </td><td>{{ el.id_catalog.id_catalog }} &nbsp; </td><td>{{ el.product_name }} &nbsp; </td><td>{{ el.product_manufact }}</td><td>{{ el.quantity}}</td></tr>
    {% endfor %}
</table>

{% endblock %}