{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  <form method="post">
      <h1>Добавить рецепт</h1>
      {% csrf_token %}
      <br/>
      <input type="text" placeholder="Имя врача..." name="employee_name" id="employee_name">
      <input type="text" placeholder="Фамилия врача..." name="employee_surname" id="employee_surname">
      <input type="text" placeholder="Имя клиента..." name="customer_name" id="customer_name">
      <input type="text" placeholder="Фамилия клиента..." name="customer_surname" id="customer_surname">
      <input type="number" step="any" placeholder="Левый глаз..." name="right_diopter" id="right_diopter">
      <input type="number" step="any" placeholder="Правый глаз..." name="left_diopter" id="left_diopter">
      <input type="number" placeholder="Дистанция..." name="distance" id="distance">
      <input type="date" placeholder="Дата..." name="date" id="date">
      <button type="submit" name="Add_item" value="Add_item">Добавить</button>
  </form>
<br>
<table border="2">
    <caption>Таблица рецептов</caption>
    <tr>

        <th>Id рецепта &nbsp;</th>
        <th>Имя работника &nbsp;</th>
        <th>Фамилия работника &nbsp;</th>
        <th>Имя клиента &nbsp;</th>
        <th>Фамилия клиента &nbsp;</th>
        <th>Левый глаз &nbsp;</th>
        <th>Правый глаз &nbsp;</th>
        <th>Дистанция &nbsp;</th>
        <th>Дата &nbsp;</th>
        <th>  &nbsp;</th>
    </tr>
    {% for el in prescription %}
    <tr><td>{{ el.id_prescribtion }} &nbsp;
    </td><td>{{ el.employee_name }} &nbsp;
    </td><td>{{ el.employee_surname }} &nbsp;
    </td><td>{{ el.customer_name }} &nbsp;
    </td><td>{{ el.customer_surname }} &nbsp;
    </td><td>{{ el.right_diopter }} &nbsp;
    </td><td>{{ el.left_diopter }} &nbsp;
    </td><td>{{ el.distance }} &nbsp;
    </td><td>{{ el.date }} &nbsp;</td><td>
    <button onclick="document.location = '{% url 'delete_prescription' el.id_prescribtion %}';">Удалить</button>
    </tr></td>
    {% endfor %}
</table>

{% endblock %}