{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  <form method="post">
      <h1>Добавить сотрудника магазина</h1>
      {% csrf_token %}

      <br/>
          <div class="input-group mb-3">

      <input type="text" placeholder="Имя..." name="name" id="name" class="form-control">
      <input type="text" placeholder="Фамилия..." name="surname" id="surname" class="form-control">
      <input type="text" placeholder="Отчество..." name="patronymic" id="patronymic" class="form-control">
      <input type="text" placeholder="Пост..." name="post" id="post" class="form-control">
      <input type="text" placeholder="Телефон..." name="phone_number" id="phone_number" class="form-control">
      <input type="text" placeholder="Паспортные данные..." name="passport_details" id="passport_details" class="form-control">
      <input type="text" placeholder="Адрес..." name="adress" id="adress" class="form-control">
      <button type="submit" name="Add_item" value="Add_item" class="btn btn-primary">Добавить</button>
                  </div>

  </form>
<br>
<table class="table table-bordered table-hover table-striped">
    <caption>Таблица сотрудников магазина</caption>
    <tr>
        <th>id &nbsp;</th>
        <th>Имя &nbsp;</th>
        <th>Фамилия &nbsp;</th>
        <th>Отчество &nbsp;</th>
        <th>Пост &nbsp;</th>
        <th>Телефон &nbsp;</th>
        <th>Пасспортные данные &nbsp;</th>
        <th>Адрес &nbsp;</th>
    </tr>
    {% for el in shop_employee %}
            <tr><td>{{ el.id_employee }} &nbsp; </td><td>{{ el.name }} &nbsp; </td><td>{{ el.surname }} &nbsp; </td><td>{{ el.patronymic }} &nbsp; </td><td>{{ el.post }} &nbsp; </td><td>{{ el.phone_number }} &nbsp;
            </td><td>{{ el.passport_details }} &nbsp; </td><td>{{ el.adress }}</td><td>
            <button onclick="document.location = '{% url 'delete_shop_employee' el.id_employee %}';" class="btn btn-danger">Удалить</button></td></tr>
    {% endfor %}
</table>


{% endblock %}